<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">DEMO</a>
      <a href="#!" class="dropdown-button btn right hide-on-med-and-down" data-activates="nav-dropdown">menu</a>
      <ul id="nav-dropdown" class="dropdown-content">
        <li><a href="/">Login</a></li>
        <li><a href="#!">Link 1</a></li>
        <li><a href="#!">Link 2</a></li>
      </ul>
    </div>
  </nav>
</div>